@model WebApplication6.Model.SignUpModel

@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>Quiz</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link type="text/css" href="~/Style/Style.css" rel="stylesheet">
</head>

<body>
    <header>
        <b>Backend3</b> <a href="~/Home/Index">Home Mockups</a>
    </header>
    <main>

        <form method="post">
            <label>
                <b>Reset your password</b>
            </label><br />
            <label>Email</label>
            <br />
            <input type="text" name="email" />
            <br /><br />
            <di>
                <button  style="display: inline" type="submit" name="action" value="Send">Send me a code</button><br />
                <button style="display: inline; margin-left:10px" formaction="~/Login/WriteCode" type="submit" name="action" value="Have">I have a code</button>
            </di>
        </form>
    </main>
    <hr>
    <footer>© @DateTime.Now.Year - Backend3</footer>
</body>
</html>