@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Quiz</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link type="text/css" href="~/Style/Style.css" rel="stylesheet">
</head>
<body>
    <header>
        <b id="Zag">Backend3</b> Home Mockups <a href="~/Login/SignUp">Login</a> <a href="~/Login/ResetPassword">Reset Password</a>
    </header>
    <main>
        <h1>Mockups</h1>
        <ul>
            <li><a href="~/Controls/TextBox">TextBox</a></li>
            <li><a href="~/Controls/TextArea">TextArea</a></li>
            <li><a href="~/Controls/CheckBox">CheckBox</a></li>
            <li><a href="~/Controls/Radio">Radio</a></li>
            <li><a href="~/Controls/DropDown">DropDown</a></li>
            <li><a href="~/Controls/ListBox">ListBox</a></li>
        </ul>
    </main>
    <hr>
    <footer>© @DateTime.Now.Year - Backend3</footer>
</body>
</html>